asgiref==3.2.7
astroid==2.4.1
atomicwrites==1.4.0
attrs==20.2.0
bleach==3.1.5
colorama==0.4.3
dj-database-url==0.5.0
dj-static==0.0.6
Django==3.0.6
django-background-tasks==1.2.5
django-compat==1.0.15
django-filter==2.3.0
django-heroku==0.3.1
django-utils-six==2.0
djangorestframework==3.11.1
djangorestframework-jwt==1.11.0
gunicorn==20.0.4
iniconfig==1.0.1
isort==4.3.21
lazy-object-proxy==1.4.3
Markdown==3.2.2
mccabe==0.6.1
more-itertools==8.5.0
mysqlclient==2.0.1
packaging==20.4
Pillow==7.2.0
plone.rfc822==2.0.2
pluggy==0.13.1
psycopg2==2.8.5
py==1.9.0
PyJWT==1.7.1
pylint==2.5.2
pyparsing==2.4.7
pytest==6.0.2
python-dateutil==2.8.1
python-decouple==3.3
pytz==2020.1
six==1.14.0
sqlparse==0.3.1
static3==0.7.0
toml==0.10.0
Unipath==1.1
webencodings==0.5.1
whitenoise==5.2.0
wrapt==1.12.1
zope.component==4.6.1
zope.deferredimport==4.3.1
zope.deprecation==4.4.0
zope.event==4.4
zope.hookable==5.0.1
zope.interface==5.1.0
zope.proxy==4.3.5
zope.schema==6.0.0
