@import url('https://fonts.googleapis.com/css2?family=Armata&family=Bangers&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.header{
    display: flex;
    height:70px;
    line-height: 70px;
    background-color:#FFF;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    margin-bottom:70px;
}

.header a:link{
    text-decoration: none ;
}

.nav-items{
    display: flex;
}

.logo{
    margin-left: 100px;
    font-family: 'Bangers', cursive;
}

.logo a{
    font-size: 50px;
    color:#5E72EB;
}

.logo a:hover{
    color:#5E72EB;
}


.nav-items{
    position:absolute;
    right:100px;
    font-family: 'Armata', sans-serif;
    font-size:20px;
}

.social{
    display:none;
}

.items{
    margin-right:50px;
}

.items a{
    margin-right:20px;
}

.items a:hover{
    border-bottom:2px solid ;
}

.login-btn a{
    background-color:lightblue;
    border-radius:10px;
    padding:10px 20px 10px 20px;
}

.menu{
    display:none;
}

@media screen and (max-width:1000px) {
    .menu{
        display:inline;
        font-size:30px;
        position:absolute;
        right:10px;
        z-index: 100;
    }

    .nav-items{
        display:none;
        padding-top:10px;
        position:fixed;
        right:0;
        left:0;
        text-align: center;
        box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
        border-radius:0 0 10px 10px; 
        background:rgb(255, 255, 255,0.9);
        z-index:2;
    }


    .items{
        margin:0;
    }

    .items a{
        display:block;
        margin:0;
    }

    .items a:hover{
        border:none;
    }

    .logo {
        margin-left:10px;
    }

    .social{
        display:inline;
        font-size:25px;
    }

    .social a{
        margin:0 15px 0 15px;
    }
}
