{% extends 'base.html' %}
{% block title %}Forgot password{% endblock %}

{% block body %}
    {% include 'header.html' %}
        <div class="alert alert-success alert-dismissible fade show chat-box" role="alert">
            <strong>Mohit Kumar Suthar</strong>
            <span style="float:right;" class="badge rounded-pill bg-info">2</span>
            <a href="#" style="float:right;" data-bs-toggle="modal" data-bs-target="#staticBackdrop"><i  style="font-size:30px;" class='bx bxs-message-square-dots'></i></a>
              
  <!-- Modal -->
  <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="staticBackdropLabel">Modal title</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          ...
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Understood</button>
        </div>
      </div>
    </div>
  </div>
        </div>

     {% include 'footer.html' %}
{% endblock %}