<header>
    <div class="header">
        <div class="logo"><a href="#">How To Learn</a></div>
        <div class="menu"><a href="#"  data-toggle=""><i class='bx bx-menu'></i></a></div>
        <div class="nav-items" id="#nav-items">
            <div class="items">
                <nav>
                    <a href="{% url 'home' %}">Home</a>
                    <a href="{% url 'apis' %}">APIs</a>
                    <a href="#">Learn</a>
                    <a href="#">Contact us</a>
                </nav>
            </div>
            
            {% if first_name %}
            <div class="dropdown">
              <a class="dropdown-toggle text-decoration-none" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Hii {{first_name}}
              </a>
              <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item btn" href="{% url 'settings' %}">Edit Profile</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item btn" href="{% url 'logout'%}">Logout</a>
              </div>
            </div>
            {% else %}
            <div class="login-btn">
              <a href="{% url 'login' %}">Login</a>
            </div>
            {% endif %}
            <div class="social">
                <a href="#"><i class='bx bxl-facebook' ></i></a>
                <a href="#"><i class='bx bxl-linkedin'></i></a>
                <a href="#"><i class='bx bxl-instagram' ></i></a>
            </div>
        </div>

    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script>
    $(document).ready(function(){
      $(".menu").click(function(){
        $(".nav-items").slideToggle();
      });
    });
    </script>
</header>
