{% extends 'base.html' %}
{% block title %}Register{% endblock %}

{% block body %}
    {% include 'header.html' %}
    <main>
        <div class="account">
            <form method="POST">
                {% csrf_token %}
                <h3>Register</h3><hr>
                {% include 'messages.html' %}
                {%if register_form.errors%}
                <div class="alert alert-danger alert-dismissible fade show from_error" role="alert">
                    {{register_form.errors.email}}
                    {{register_form.errors.confirm_password}}
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                  </div>
                {% endif %}
                <div class="form-group">
                    {{register_form.first_name}}
                </div>
                <div class="form-group">
                    {{register_form.last_name}}
                </div>
                <div class="form-group">
                    {{register_form.email}}
                </div>
                <div class="form-group">
                    {{register_form.password}}
                </div>
                <div class="form-group">
                    {{register_form.confirm_password}}
                </div>
                    <div class="account-btn">
                        <input type="submit" value="Register" class="btn btn-primary">
                    </div>
                </form>   
    </div>
    </main>
    {% include 'footer.html' %}
{% endblock %}