{% extends 'base.html' %}
{% block title %}reset your password{% endblock %}

{% block body %}
    {% include 'header.html' %}
    <main>

        <div class="account">
            <form method="POST">
                {% csrf_token %}
                <h3>Change Password</h3><hr>
                {% if reset_form.errors %}
                <div class="alert alert-danger" role="alert">
                    {{reset_form.errors.confirm_password}}
                    </div>
                {% endif %}
                <div class="form-group">
                    {{reset_form.email}}
                </div>
                <div class="form-group">
                    {{reset_form.password}}
                </div>
                <div class="form-group">
                    {{reset_form.confirm_password}}
                </div>
                    <div class="account-btn">
                        <input type="submit" value="Confirm" class="btn btn-primary">
                    </div>
                </form>
                
    </div>
    
    </main>
{% endblock %}