
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans&display=swap');

*{
    padding:0;
    margin:0;
    box-sizing: border;
}

body{
    background: url("/static/img/body.jpg") 50% 0 no-repeat fixed;
    background-size: 1600px 800px;
}

.account{
    background-color:rgb(255,255,255,0.8);
    margin:auto;
    width:400px;
    padding:10px;
    border-radius:10px;
    margin-top:150px;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
    
}



.account h3{
    font-family: 'Fira Sans', sans-serif;
    font-size:30px;
}

.account input{
    border-radius:10px;
}

.account-btn input{
    background-color:#5E72EB;
    border:none;
}

.account-btn input:hover{
    background-color:#5E72EB;
}

.account-btn a{
    float:right;
    margin-right:20px;
}

.account a:link{
    text-decoration:none;
}

.register-btn strong{
    float:right;
}

.form_error li{
    list-style:outside;
    margin-bottom:-15px;
    margin-left:10px;

}

main{
    margin-bottom:70px;
}

@media screen and (max-width:1000px) {
    .account{
        width:350px;
    }
}