*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.chat-box{
    margin-top:100px;
    margin-left:100px;
    margin-right:100px;
   
    
}

.model-box{
   margin-top:50px;
}

@media screen and (max-width:1000px) {
    .chat-box{
        margin-left:5px;
        margin-right:5px;
       
        
    }
}